.tg  {	border-collapse: collapse;
		border-spacing: 0;
}

.tg td{		font-family: Arial, sans-serif;
			font-size: 14px;
			padding: 10px 5px;
			border-style: solid;
			border-width: 1px;
			overflow: hidden;
			word-break: normal;
			border-color: black;
}

.tg th{		font-family: Arial, sans-serif;font-size:14px;
			font-weight: normal;
			padding: 10px 5px;
			border-style: solid;
			border-width: 1px;
			overflow: hidden;
			word-break: normal;
			border-color: black;
}

.tg .tg-c3ow{border-color: inherit;
			text-align: center;
			vertical-align: top;
}


.tg .tg-us36{	border-color: inherit;
				vertical-align: top;
}

.tg .tg-dvpl{	border-color: inherit;
				text-align: right;
				vertical-align: top;
};